.box {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.box .card-wrapper {
  border: 0px none;
  height: 200px;
  width: 197px;
}

.box .card-instance {
  left: 0 !important;
  position: fixed !important;
  top: 0 !important;
}
