.card {
  align-items: center;
  background-color: var(--bgcolor-l2);
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  padding: 88px 56px;
  position: relative;
  width: fit-content;
}
